service firebase.storage {
  match /b/test-23aef.appspot.com/o {
    match /{userId}/{timeStamp}/{fileName} {
      allow write: if request.auth.uid == userId;
      allow read;
    }
  }
}
